{%extends 'base/base.html' %}

{% load static %}
{% block main%}

 <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'base/assets/img/home-bg.jpg'%})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Tech News</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3 class="alert alert-primary">{{category.title}}</h3>
                    {% for article in category.articles.published %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{%  url 'base:detail' article.slug  %}">

                            <h2 class="post-title">{{article.title}}</h2>
                            <h3 class="post-subtitle">{{article.description | truncatewords:20}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            {{article.jpublish}}
                            <div>
                        {%for cat in article.category_published.all%}
                        <a href="#">#{{cat.title}}</a>
                        {%endfor%}
                    </div>

                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4 pager-button">
                        <a class="btn btn-primary text-uppercase" href="#!"> پست‌های قدیمی&larr;</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}